In [5]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 5.1 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.5.30)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [6]:
import pandas as pd
from datetime import date

In [7]:
data = pd.read_csv('google_news.csv')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1000 non-null   int64
 1   date         1000 non-null   object
 2   title        1000 non-null   object
 3   link         1000 non-null   object
 4   Stock        1000 non-null   object
 5   Source       1000 non-null   object
 6   Unnamed: 6   0 non-null      float64
 7   Unnamed: 7   0 non-null      float64
 8   Unnamed: 8   0 non-null      float64
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  0 non-null      float64
dtypes: float64(5), int64(1), object(5)
memory usage: 86.1+ KB

In [9]:
data['date'] = pd.to_datetime(data['date'], format='%a, %d %b %Y %H:%M:%S %Z')
data.head()

   Unnamed: 0                      date  ... Unnamed: 9 Unnamed: 10
0           1 2021-09-28 22:22:44+00:00  ...        NaN         NaN
1           2 2021-09-27 04:58:00+00:00  ...        NaN         NaN
2           3 2021-09-27 04:58:00+00:00  ...        NaN         NaN
3           4 2021-09-27 04:58:00+00:00  ...        NaN         NaN
4           5 2021-09-27 04:58:00+00:00  ...        NaN         NaN

[5 rows x 11 columns]

In [10]:
#Limpiando las fuentes
import re
expresion_quitar = re.compile(r"""- Seeking Alpha|
- Yahoo Finance|
- Yahoo Money|
- Investing.com|
- StreetInsider.com|
- Motley Fool|
- Financial Times|
- Mediaweek|
- InDepthNH.org|
- Yahoo Tech|
- USA TODAY|
- TechCrunch|
- PaymentsJournal|
- Screen International|
- BusinessCloud|
- GeekWire|
- Fox Business|
- Art Newspaper|
- Greater Baton Rouge Business Report|
- Coda Story|
- Simple Flying|
- Kansas City Business Journal|
- The Guardian|
- Bloomberg|
- MLive.com|
- Yahoo Entertainment|
- Newzjunky.com|
- Cointelegraph|
- Kitco NEWS|
- The Blast|
- Benzinga|
- NNY360|
- TheJournal.ie|
- New Zealand Herald|
- http://en.vietnamplus.vn/|
- CampaignLive|
- EnerCom Inc.|
- VentureBeat|
- Above the Law|
- PRNewswire|
- The Register|
- The NonProfit Times|
- PCMag|
- PitchBook News & Analysis|
- GlobeNewswire|
- Tech in Asia|
- Diginomica|
- ClickZ|
- FinSMEs|
- Automotive News|
- iGaming Business|
- FeedNavigator.com|
- Property Funds World|
- Maidenhead Advertiser|
- MarkTechPost|
- TrustedReviews|
- Digital Trends|
- Republic World|
- MobiGyaan|
- Tom's Hardware|
- The Breeze|
- Wccftech|
- Proactive Investors UK|
- Simply Wall St""")
data["title"] = data["title"].apply(lambda x:expresion_quitar.sub(r"",x))

In [11]:
pd.set_option('display.max_colwidth', None)
data.head()

   Unnamed: 0                      date  ... Unnamed: 9 Unnamed: 10
0           1 2021-09-28 22:22:44+00:00  ...        NaN         NaN
1           2 2021-09-27 04:58:00+00:00  ...        NaN         NaN
2           3 2021-09-27 04:58:00+00:00  ...        NaN         NaN
3           4 2021-09-27 04:58:00+00:00  ...        NaN         NaN
4           5 2021-09-27 04:58:00+00:00  ...        NaN         NaN

[5 rows x 11 columns]

In [12]:

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
emptyline =[]

for row in data['title']:
  vs = analyzer.polarity_scores(row)
  emptyline.append(vs)

In [13]:
emptyline[0:50]

[{'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.4404, 'neg': 0.0, 'neu': 0.791, 'pos': 0.209},
 {'compound': 0.25, 'neg': 0.0, 'neu': 0.889, 'pos': 0.111},
 {'compound': 0.4404, 'neg': 0.0, 'neu': 0.818, 'pos': 0.182},
 {'compound': 0.0772, 'neg': 0.053, 'neu': 0.886, 'pos': 0.061},
 {'compound': 0.4019, 'neg': 0.0, 'neu': 0.863, 'pos': 0.137},
 {'compound': -0.631, 'neg': 0.257, 'neu': 0.743, 'pos': 0.0},
 {'compound': 0.7351, 'neg': 0.0, 'neu': 0.592, 'pos': 0.408},
 {'compound': 0.4019, 'neg': 0.0, 'neu': 0.701, 'pos': 0.299},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.4728, 'neg': 0.0, 'neu': 0.839, 'pos': 0.161},
 {'compound': -0.34, 'neg': 0.124, 'neu': 0.876, 'pos': 0.0},
 {'compound': 0.743, 'neg': 0.0, 'neu': 0.742, 'pos': 0.258},
 {'compound': 0.5994, 'neg': 0.0, 'neu': 0.505, 'pos': 0.495},
 {'compound': 0.5994, 'neg': 0.0, 'neu': 0.505, 'pos': 0.495},
 {'compound': 0.5994, 'neg': 0.0, 'neu': 0.505, 'pos': 0.495},
 {'compound': 0.5994, 'neg': 0.0, 'neu': 0.505, 'pos': 0.495},
 {'compound': 0.5994, 'neg': 0.0, 'neu': 0.505, 'pos': 0.495},
 {'compound': -0.3182, 'neg': 0.315, 'neu': 0.685, 'pos': 0.0},
 {'compound': -0.3182, 'neg': 0.315, 'neu': 0.685, 'pos': 0.0},
 {'compound': -0.3182, 'neg': 0.315, 'neu': 0.685, 'pos': 0.0},
 {'compound': 0.5719, 'neg': 0.0, 'neu': 0.719, 'pos': 0.281},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.1779, 'neg': 0.0, 'neu': 0.892, 'pos': 0.108},
 {'compound': 0.2023, 'neg': 0.163, 'neu': 0.579, 'pos': 0.258},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.5719, 'neg': 0.0, 'neu': 0.684, 'pos': 0.316},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.1779, 'neg': 0.0, 'neu': 0.855, 'pos': 0.145},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.2263, 'neg': 0.0, 'neu': 0.881, 'pos': 0.119},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.4404, 'neg': 0.0, 'neu': 0.734, 'pos': 0.266},
 {'compound': -0.5719, 'neg': 0.299, 'neu': 0.701, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.4404, 'neg': 0.0, 'neu': 0.818, 'pos': 0.182},
 {'compound': 0.4404, 'neg': 0.0, 'neu': 0.734, 'pos': 0.266},
 {'compound': 0.6249, 'neg': 0.0, 'neu': 0.611, 'pos': 0.389},
 {'compound': 0.5574, 'neg': 0.0, 'neu': 0.603, 'pos': 0.397}]

In [10]:
#Convertir el resultado de vader sentiment a un dataframe, para añadirlo a mis datos
sentiments = pd.DataFrame(emptyline)
#Agregando las columnas de vader
data['neg'] = sentiments['neg']
data['neu'] = sentiments['neu']
data['pos'] = sentiments['pos']
data['compound'] = sentiments['compound']
data.sort_values('date')

     Unnamed: 0  ... compound
579         579  ...   0.0000
141         141  ...   0.0000
456         456  ...  -0.3182
985         985  ...   0.4404
859         859  ...  -0.4019
..          ...  ...      ...
600         600  ...   0.0000
501         501  ...   0.0000
400         400  ...   0.0000
701         701  ...   0.4404
203         203  ...   0.0000

[1000 rows x 11 columns]

## como hay días que tienen mas de una noticia, quisieramos el sentimiento general de las noticias de ese día (para graficar 1 solo punto) vamos a convetir esta tabla:

In [11]:
import numpy as np
df = pd.pivot_table( data, values=['neg','neu','pos','compound'], index=['Stock', 'date'],
                    aggfunc= np.mean)

In [12]:
df.head()

                                 compound    neg    neu    pos
Stock date
AAPL  2020-11-02 08:00:00+00:00    0.7430  0.000  0.656  0.344
      2020-11-24 08:00:00+00:00    0.0000  0.000  1.000  0.000
      2020-12-24 08:00:00+00:00    0.3818  0.000  0.698  0.302
      2020-12-27 08:00:00+00:00    0.0000  0.000  1.000  0.000
      2021-01-08 08:00:00+00:00   -0.3400  0.375  0.625  0.000

In [13]:
df.reset_index(level=0, inplace=True)
df.reset_index(level=0, inplace=True)# va 2 veces porque tiene 2 indexes de la tabla pivote
df.Stock.ffill(inplace=True)

In [14]:
df.head()

                       date Stock  compound    neg    neu    pos
0 2020-11-02 08:00:00+00:00  AAPL    0.7430  0.000  0.656  0.344
1 2020-11-24 08:00:00+00:00  AAPL    0.0000  0.000  1.000  0.000
2 2020-12-24 08:00:00+00:00  AAPL    0.3818  0.000  0.698  0.302
3 2020-12-27 08:00:00+00:00  AAPL    0.0000  0.000  1.000  0.000
4 2021-01-08 08:00:00+00:00  AAPL   -0.3400  0.375  0.625  0.000

#Seguramente la columna que queremos graficar es la de "Compound" que es la suma de positivo mas negativo (y lo neutral queda en ceros)

#Dejamos la fecha en el formato que esta usando yfinance para que sean iguales

In [15]:
df['date'] = df['date'].apply(lambda x:x.strftime('%Y-%m-%d'))

In [19]:
df.head()

         date Stock  compound    neg    neu    pos
0  2020-11-02  AAPL    0.7430  0.000  0.656  0.344
1  2020-11-24  AAPL    0.0000  0.000  1.000  0.000
2  2020-12-24  AAPL    0.3818  0.000  0.698  0.302
3  2020-12-27  AAPL    0.0000  0.000  1.000  0.000
4  2021-01-08  AAPL   -0.3400  0.375  0.625  0.000

In [16]:
df.to_csv('sentimientos.csv')